pipeline/ProcessAzureAS.json
{
	"name": "ProcessAzureAS",
	"properties": {
		"activities": [
			{
				"name": "Login",
				"type": "WebActivity",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lsJdkDataFactoryKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "jasonkey2"
					}
				}
			},
			{
				"name": "UntilRefreshComplete",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "FilterToCurrentRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('GetAzureASRefreshStatus').output.status,'inProgress'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetAzureASRefreshStatus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait30Seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes/',activity('FilterToCurrentRefresh').output.Value[0].refreshId)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": "@concat(string(activity('Login').output.token_type),' ',string(activity('Login').output.access_token))"
								}
							}
						},
						{
							"name": "Wait30Seconds",
							"type": "Wait",
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "GetAzureASRefreshes",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "StartProcessingAzureAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:01:40"
					},
					"dataset": {
						"referenceName": "dsHttpApiAzureASRefreshes",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterToCurrentRefresh",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetAzureASRefreshes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAzureASRefreshes').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(item().startTime,addseconds(activity('StartProcessingAzureAS').output.startTime,-30))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "StartProcessingAzureAS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": "@concat(string(activity('Login').output.token_type),' ',string(activity('Login').output.access_token))"
					},
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 10,
						"RetryCount": 2
					}
				}
			},
			{
				"name": "IfFailed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "UntilRefreshComplete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetAzureASRefreshStatus').output.status,'failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ThrowErrorOnFailure",
							"type": "WebActivity",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"typeProperties": {
								"url": {
									"value": "@string(activity('GetAzureASRefreshStatus').output)",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "String",
				"defaultValue": "jasonkochswc.onmicrosoft.com"
			},
			"ClientID": {
				"type": "String",
				"defaultValue": "c5af0de6-5655-4466-b000-1202db7a206b"
			},
			"ClientSecret": {
				"type": "String",
				"defaultValue": "sIeSgj7iboTkvW8OZdVg+zF7W8T/brG9dPm5Q1iGdco="
			},
			"Region": {
				"type": "String",
				"defaultValue": "northcentralus"
			},
			"Server": {
				"type": "String",
				"defaultValue": "jdkssas"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "BeltDA-Dev"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}